In [1]:
#importing all Python Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading the dataset to a Pandas Dataframe
credit_card_data=pd.read_csv('creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
#Checking the number of missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
#Let's check the distribution of legit and fraud transactions
credit_card_data['Class'].value_counts()
#0 indicates legit and 1 is for frauds....This dataset is unbalaced

Class
0    284315
1       492
Name: count, dtype: int64

In [7]:
#Let's separate the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
#Statistical Measures of Data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
#Comparing the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
#Undersampling the Data points
legit_sample=legit.sample(n=492) #Random sampling out of 2.8 lakh+ values
#Creating a sample dataset
new_dataset=pd. concat([legit_sample,fraud],axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
106089,69818.0,-4.562326,-9.738074,-2.566629,3.215889,-3.312186,2.000666,3.041551,-0.383219,0.636388,...,1.986761,-1.030608,-2.835306,-1.188077,-0.657541,-0.453136,-0.482039,0.544290,3000.00,0
160735,113590.0,-1.545524,2.033941,-1.768909,-0.443345,-0.517165,-0.806810,-0.583745,1.467212,-0.742924,...,0.575845,1.216447,-0.061265,-0.440493,-0.217569,-0.162518,-0.531621,-0.117575,3.36,0
159743,112880.0,0.288556,-0.413991,0.706705,-2.456550,-0.956466,-0.768296,-0.239660,-0.243687,-1.819991,...,-0.069772,0.269184,-0.012127,-0.033403,-0.486146,-0.264825,-0.028261,0.041164,19.60,0
65363,51546.0,1.105473,0.017203,0.403409,1.094927,-0.090384,0.372483,-0.146352,0.205529,0.239185,...,-0.138424,-0.262709,-0.057448,-0.311129,0.536103,-0.424926,0.039588,0.009377,25.27,0
197813,132191.0,1.827471,-0.320423,-1.986599,0.391939,0.290557,-0.680752,0.211493,-0.200043,1.035209,...,-0.202791,-0.623554,0.082564,0.360178,-0.050058,-0.117881,-0.034621,0.002835,126.44,0

In [13]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [14]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [15]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94784.697154,-0.069945,0.082677,0.006004,-0.097305,0.025321,-0.025009,0.115533,-0.034426,0.032501,...,0.009650,0.024328,-0.031703,-0.032653,-0.051892,0.012369,-0.017673,-0.019660,-0.015157,89.768780
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
#Splitting the Data into features and targets
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
106089   69818.0 -4.562326 -9.738074 -2.566629  3.215889 -3.312186  2.000666
160735  113590.0 -1.545524  2.033941 -1.768909 -0.443345 -0.517165 -0.806810
159743  112880.0  0.288556 -0.413991  0.706705 -2.456550 -0.956466 -0.768296
65363    51546.0  1.105473  0.017203  0.403409  1.094927 -0.090384  0.372483
197813  132191.0  1.827471 -0.320423 -1.986599  0.391939  0.290557 -0.680752
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
106089  3.041551 -0.383219  0.636388  ...  5.920740  1.986761 -1.030608
160735 -0.583745  1.467212 -0.742924  ... -0.425670  0.575845  1.216447
159743 -0.239660 -0.243687 -1.819991  ... -0.398743 -0.069772  0.269184
65363  -0.146352  0.205529  0.239185  ... -0.151025 -0.138424 -0.262709
197813  0.211493 -0.200043  1.035209  ...  0.085866 -0.202791 -0.623554
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
106089 -2.835306 -1.188077 -0.657541 -0.453136 -0.482039  0.544290  3000.00
160735 -0.061265 -0.440493 -0.217569 -0.162518 -0.531621 -0.117575     3.36
159743 -0.012127 -0.033403 -0.486146 -0.264825 -0.028261  0.041164    19.60
65363  -0.057448 -0.311129  0.536103 -0.424926  0.039588  0.009377    25.27
197813  0.082564  0.360178 -0.050058 -0.117881 -0.034621  0.002835   126.44
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [18]:
#Splitting the data into training data and testing data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
print(X.shape,X_test.shape,X_test.shape)
print(Y.shape, Y_test.shape,Y_train.shape)

(984, 30) (197, 30) (197, 30)
(984,) (197,) (787,)

In [19]:
#Model training
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [20]:
#Accuracy Score
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print("Accuracy on Training Data: ",training_data_accuracy)

Accuracy on Training Data:  0.9440914866581956

In [21]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print("Accuracy on Test Data: ",test_data_accuracy)